//adilcodes.euw-3.palantirfoundry.co.uk/artifacts/api/repositories/ri.stemma.main.repository.66c6c7a2-1672-41c2-bdb6-9f61cfd1e9b0/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
registry=https://adilcodes.euw-3.palantirfoundry.co.uk/artifacts/api/repositories/ri.stemma.main.repository.66c6c7a2-1672-41c2-bdb6-9f61cfd1e9b0/contents/release/npm/
omit-lockfile-registry-resolved=true
